{% extends "base.html" %}

{% block content %}
    <form action="" method= "POST" style="margin-top: 50px;" novalidate>
        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="text-align: center; color: red">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <h2>Username: {{current_user.login_name}}</h2>

        <div class="form">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
        </div>

        <div class="form">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
        </div>

        <div class="form">
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
        </div>

        <div class="form">
            {{ form.date_of_birth.label }}<br>
            {{ form.date_of_birth(size=32) }}<br>
        </div>

        <h2>Bank Details</h2>

        <div class="form">
            {{ form.holder_fname.label }}<br>
            {{ form.holder_fname(size=32) }}<br>
        </div>
        <div class="form">
            {{ form.holder_lname.label }}<br>
            {{ form.holder_lname(size=32) }}<br>
        </div>
        <div class="form">
            {{ form.card_number.label }}<br>
            {{ form.card_number(size=32) }}<br>
        </div>
        <div class="form">
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
        </div>
        <div class="form">
            {{ form.id_confirmation.label }}<br>
            {{ form.id_confirmation(size=32) }}<br>
        </div>
        <div class="form">
            {{ form.cvc.label }}<br>
            {{ form.cvc(size=32) }}<br>
        </div>
        <div class="form">
            {{ form.expire_date.label }}<br>
            {{ form.expire_date(size=32) }}<br>
        </div>        

        <div class="form">{{ form.submit() }}</div>

    </form>
{% endblock %}