{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method= "POST" style="margin-top: 50px;" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Account: {{current_user.login_name}}
                    <a class="btn btn-outline-info" style="float: right; margin-bottom: 5px;" href="{{url_for('changePassword', login_name=current_user.login_name)}}">Change Password</a>
                </legend>

                <div class="form-row">
                    <div class="col">
                        {{ form.login_name.label }}<br>
                        {% if form.login_name.errors %}
                            {{ form.login_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.login_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.login_name(class="form-control form-control-lg") }}
                        {% endif %}	
                    </div>
                    <div class="col">
                        {{ form.email.label }}<br>
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.address.label }}<br>
                    {% if form.address.errors %}
						{{ form.address(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.address.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.address(class="form-control form-control-lg") }}
					{% endif %}
                </div>

                <div class="form-group">
                    {{ form.date_of_birth.label }}<br>
                    {% if form.date_of_birth.errors %}
						{{ form.date_of_birth(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.date_of_birth.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.date_of_birth(class="form-control form-control-lg") }}
					{% endif %}
                </div>
                <div class="form-group">
                    {{ form.phone_number.label }}<br>
                    {% if form.phone_number.errors %}
                        {{ form.phone_number(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.phone_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.phone_number(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <legend class="border-bottom mb-4">Bank Details</legend>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col" >Card Number</th>
                            <th scope="col">Expire Date</th>
                            <th scope="col"> </th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                {% if cards %}
                        <tbody>
                        {% for i in cards %}
                            <tr>
                                <td>************{{i.id[-4:]}}</td>
                                <td>{{i.expire_date.strftime("%m/%Y")}}</td>
                                <td>
                                    <a href={{ url_for("editBankDetails", card_id=i.id) }} class="btn btn-outline-info">Edit</a>
                                </td>
                                <td>
                                    <a href={{ url_for("removetBankDetails", card_id=i.id) }} class="btn btn-outline-danger">remove</a>
                                </td>
                            </tr>
                        {% endfor %}
                    
                {% else %}
                    <tr>
                        <td colspan="4"><h5>No cards, Please add one </h5></td>
                    </tr>
                {% endif %}
                        <tr>
                            <td colspan="4" style="float: center;"><a href={{ url_for("addBankDetail") }} class="btn btn-outline-info">Add Bank card</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">{{ form.submit(class="btn btn-outline-info btn-lg") }}</div>
            </fieldset>
        </form>
    </div>
    
{% endblock %}