{% extends "base.html" %}

{% block content %}
<div class="content-section">

    <h2 class="title">Add a Property</h2>

    {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <form action="" method="POST" action="/addProperty" style="margin-top: 50px;" novalidate>
        <fieldset class="form-group">
            {{ form.hidden_tag() }}
            <div class="form-group">{{ form.add_unit.label }} {{form.add_unit}}</div>
            <div class="form-group">{{ form.add_num.label }} {{form.add_num}}</div>
            <div class="form-group">{{ form.add_name.label }} {{form.add_name}}</div>
            <div class="form-group">{{ form.add_suburb.label }} {{form.add_suburb}}</div>
            <div class="form-group">{{ form.add_state.label }} {{form.add_state}}</div>
            <div class="form-group">{{ form.add_pc.label }} {{form.add_pc}}</div>
            <div class="form-group">{{ form.property_type.label }} {{form.property_type}}</div>
            <div class="form-group">{{ form.num_bedrooms.label }} {{form.num_bedrooms}}</div>
            <div class="form-group">{{ form.num_bathrooms.label }} {{form.num_bathrooms}}</div>
            <div class="form-group">{{ form.num_parking.label }} {{form.num_parking}}</div>
            <div class="form-group">{{ form.parking_features.label }} {{form.parking_features}}</div>
            <div class="form-group">{{ form.building_size.label }} {{form.building_size}}</div>
            <div class="form-group">{{ form.land_size.label }} {{form.land_size}}</div>
            <div class="form-group">{{ form.description.label }} {{form.description}}</div>
            <div class="form-group">{{ form.year_built.label }} {{form.year_built}}</div>
            <div class="form-group">{{ form.inspection_date.label }} {{form.inspection_date}}</div>
            <div class="form-group">{{ form.submit }}</div>
            <button class='btn btn-outline-light text-dark btn-lg' type='submit'>{{ form.submit }}</button>
            <a href="{{ url_for('property_list') }}"><button class='btn btn-outline-danger btn-lg' type='submit'>Cancel</button></a>

            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </fieldset>
        
    </form>
    <button class='btn btn-outline-light text-dark btn-lg' type='submit'>{{ form.submit }}</button>
    <a href="{{ url_for('property_list') }}"><button class='btn btn-outline-danger btn-lg' type='submit'>Cancel</button></a>


</div>



{% endblock %}