{% extends "base.html" %}
{% block content %}

    {% if not auctions %}
    <article class="media content-section">
    <div class="article-metadata">
    <h1>No Auctions created, found. Please create an auction from your properties!</h1>
    <a href="{{ url_for('property_list') }}">Property</a>
    </div>
    </div>
    {% endif %}

    {% for auction in auctions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ auction.id}}</small>
            </div>
            <p class="article-content">Start Date: {{ auction.AuctionStart }}</p>
            <p class="article-content">End Date: {{ auction.AuctionEnd }}</p>
            <a class="mr-2" href="{{ url_for('changeAuctionDetails', AuctionID_ = auction.id) }}">Edit</a>
            <a class="mr-2" href="{{ url_for('deleteAuction', AuctionID_ = auction.id) }}">Delete</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}