{% extends "base.html" %}
{% block content %}
    {% for auction in auctions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('changeAuctionDetails', auctionID = auction.AuctionID) }}">{{ auction.SellerID }}</a>
              <small class="text-muted">{{ auction.SellerID }}</small>
            </div>
            <p class="article-content">{{ auction.AuctionStart }}</p>
            <a class="mr-2" href="{{ url_for('deleteAuction', auctionID = auction.AuctionID) }}">DeLete Auction {{ auction.AuctionID }}</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}