{% extends "base.html" %}
{% block content %}

    {% if not auctions %}
    <article class="media content-section">
    <div class="article-metadata">
      <h1>No Auctions created, found. Please create an auction from your properties!</h1>
      <a href="{{ url_for('property_list') }}">
        <button class='btn btn-primary'  style="font-size: 30px;" type='submit'>Create Property</button>
      </a>
    </div>
    {% endif %}

    {% for auction in auctions %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ auction.id}}</small>
            </div>
            <p class="article-content">Start Date: {{ auction.AuctionStart }}</p>
            <p class="article-content">End Date: {{ auction.AuctionEnd }}</p>
            <a class="btn btn-info mr-2 ", style="width: 100px;" href="{{ url_for('changeAuctionDetails', AuctionID_ = auction.id) }}">Edit</a>
            <a class="btn btn-danger", style="width: 100px;" href="{{ url_for('deleteAuction', AuctionID_ = auction.id) }}">Delete</a>
          </div>
        </article>
    {% endfor %}
{% endblock content %}