<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} - AuctionWorld</title>
    {% else %}
        <title>Welcome to AuctionWorld</title>
    {% endif %}
    <style>
        /* body{
            background-color: gold;
        } */
        .login{
            background-color: bisque;
            text-align: center;
            padding-top: 30px;
        }
        .signup{
            background-color: bisque;
            text-align: center;
            padding-top: 30px;
        }
    </style>
</head>
<body>
    <div>AuctionWorld: <a href="/home">Home</a></div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>