{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method= "POST" style="margin-top: 50px;" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
				<legend class="border-bottom mb-4">Change Password</legend>
				
				<div class="form-group">
                    {{ form.old_password.label }}<br>
                    {% if form.old_password.errors %}
						{{ form.old_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.old_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.old_password(class="form-control form-control-lg") }}
					{% endif %}	
                </div>

                <div class="form-group">
                    {{ form.password.label }}<br>
                    {% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}	
                </div>

                <div class="form-group">
                    {{ form.password2.label }}<br>
                    {% if form.password2.errors %}
						{{ form.password2(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password2.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password2(class="form-control form-control-lg") }}
					{% endif %}
                </div>

                <div class="form-group">{{ form.submit(class="btn btn-info btn-lg", style="width:100px") }}</div>
            </fieldset>
        </form>
    </div>
{% endblock %}