{% extends "base.html" %}
{% block content %}
	
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Register auction</legend>
				<div class="form-group">
					{{ form.auctionStart.label(class="form-control-label") }}
					{% if form.auctionStart.errors %}
						{{ form.auctionStart(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.auctionStart.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.auctionStart(class="form-control form-control-lg", placeholder="YYYY-mm-dd HH:mm:ss e.g. 2020-12-10 13:00:00") }}
					{% endif %}					
				</div>
				<div class="form-group">
					{{ form.auctionEnd.label(class="form-control-label") }}
					{% if form.auctionEnd.errors %}
						{{ form.auctionEnd(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.auctionEnd.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.auctionEnd(class="form-control form-control-lg", placeholder="YYYY-mm-dd HH:mm:ss e.g. 2020-12-10 13:00:00") }}
					{% endif %}					
				</div>
				<div class="form-group">
					{{ form.reservePrice.label(class="form-control-label") }}
					{% if form.reservePrice.errors %}
						{{ form.reservePrice(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.reservePrice.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.reservePrice(class="form-control form-control-lg") }}
					{% endif %}					
				</div>
				<div class="form-group">
					{{ form.minBiddingGap.label(class="form-control-label") }}
					{% if form.minBiddingGap.errors %}
						{{ form.minBiddingGap(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">minBiddingGap
							{% for error in form.minBiddingGap.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.minBiddingGap(class="form-control form-control-lg") }}
					{% endif %}					
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-info btn-lg",style="width:200px") }}
			</div>
		</form>
	</div>

	<div class="border-top pt-3">
		<small class="text-muted">
			Building not registered? <a class="ml-2" href="{{ url_for('login') }}">Register new buliding</a>
		</small>
	</div>


{% endblock content %}