{% extends "base.html" %}

{% block content %}
    <div class="mb-2" style="position: fixed; width: 1140px; height: 800px; background: url('/static/propertyImage/background.jpg'), no-repeat; background-size: contain;">
        <h1 style="margin-top: 200px; text-align: center; position: relative; font-size: 40px;">Auction World</h1>
        <div style="text-align: center; margin-top: 120px;">
            {% if current_user.is_anonymous %}
                <a class="btn btn-info btn-lg " style="margin-right: 270px; width: 200px;" href="/login">Login</a>
                <a class="btn btn-info btn-lg " style="width: 200px;" href="/signup" >Signup</a> 
            {% endif %}
        </div>
    </div>
{% endblock %}
