<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        /* body{
            background-color: gold;
        } */
        .login{
            background-color: bisque;
            text-align: center;
            padding-top: 30px;
        }
    </style>
</head>
<body style="margin-top: 200px;">
    <form method= "POST">
        <div class="login">
            <label> Please enter your login name: </label><br>
            <input type="textfield" name="login_name" placeholder="Enter login name"/>
        </div>
        <div class="login">
            <label> Please enter your password: </label><br>
            <input type="password" name="password" placeholder="Enter password"/>
        </div>
        <div class="login">
            <button type="Submit" name="login" value="login">Login</button>
        </div>
    </form>
</body>
</html>