{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <h2>{{ address }}</h2>
    <form action="" method="POST" action="/property" enctype="multipart/form-data" style="margin-top: 50px;" novalidate>
        <fieldset class="form-group">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.image.label }}<br>
                {% if form.image.errors %}
                    {{ form.image(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.image.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.image }}
                {% endif %}
            </div>

            <div class="form-group">{{ form.submit(class="btn btn-info") }}</div>
                    
            {% if form.errors %}
                {{ form.errors }}
            {% endif %}
        </fieldset>
    </form>
    <a href="{{ url_for('property_list') }}"><button class="btn btn-primary mb-2">Back</button></a>


    <div class='row'>
        {% for i in image %}
            <div class='col-5 border mb-2 pl-0 pr-0 ml-5 mr-4'>
                <img src="/static/propertyImage/{{ i.photo }}" alt="" style="width: 100%;">
                <br>
                <a href="{{ url_for('remove_image', p_id = property, i_id = i.id) }}" onclick = "{if (confirm ( 'Are you sure?')) {this. document.formname.submit (); return true;} return false;} ">
                    <button class='btn btn-outline-danger mt-2' style="width: 100%;" type="submit">Remove Image</button>
                </a>
            </div>
        {% endfor %}
    </div>
</form>

</div>



{% endblock %}