{% extends "base.html" %}

{% block content %}
<div class="content-section">

    {% if not properties %}
    <h1>No properties found. Add one now!</h1>
    <a href="{{ url_for('add_property') }}">Add a property</a>
    {% endif %}
    
    <ul class='list-group'>
    {% for p in properties %}
        <li class='list-group-item'>
            <h2>{{ p.add_unit }}/{{ p.add_num }} {{ p.add_name }} {{ p.add_suburb }} {{ p.add_state }} {{ p.add_pc }}</h2>
            <p>Description: {{ p.description }}</p>
            <p>Property Type: {{ p.property_type }}</p>
            <p>Bedrooms: {{ p.num_bedrooms }}</p>
            <p>Bathrooms: {{ p.num_bathrooms }}</p>
            <p>Parking: {{ p.num_parking }}</p>
            <p>Parking Features: {{ p.parking_features }}</p>
            <p>Building Size: {{ p.building_size }}</p>
            <p>Land Size: {{ p.land_size }}</p>
            <p>Year Built: {{ p.year_built }}</p>
            <p>Inspection Date: {{ p.inspection_date }}</p>
            <p>Photo Collection: TBA</p>
            <a href="{{ url_for('edit_property', p_id = p.id) }}"><button class='btn btn-outline-light text-dark btn-lg' type='submit'>Edit</button></a>
            <a href="{{ url_for('edit_property', p_id = p.id) }}"><button class='btn btn-outline-danger btn-lg' type='submit'>Remove</button></a>
        </li>
        
    {% endfor %}
    </ul>

    <a href="{{ url_for('add_property') }}"><button class='btn btn-outline-success btn-lg' type='submit'>Add a Property</button></a>

</form>

</div>



{% endblock %}