{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <br><br><br>

    {% if not properties %}
    <h1>No properties found. Add one now!</h1>
    <a href="{{ url_for('add_property') }}">Add a property</a>
    {% endif %}

    {% for p in properties %}
    <ul>
        <li>
            <h1>{{ p.add_unit }}/{{ p.add_num }} {{ p.add_name }} {{ p.add_suburb }} {{ p.add_state }} {{ p.add_pc }}</h1>
            <p>Status: 
                {% if p.status == "auction" %}
                    To Be Auctioned
                {% elif p.status == "sold" %}
                    Sold
                {% else %}
                    Error
                {% endif %}
            </p>
            <p>Description: {{ p.description }}</p>
            <p>PropertyType: {{ p.property_type }}</p>
            <p>Bedrooms: {{ p.num_bedrooms }}</p>
            <p>Bathrooms: {{ p.num_bathrooms }}</p>
            <p>Parking: {{ p.num_parking }}</p>
            <p>Parking Features: {{ p.parking_features }}</p>
            <p>Building Size: {{ p.building_size }}</p>
            <p>Land Size: {{ p.land_size }}</p>
            <p>Year Built: {{ p.year_built }}</p>
            <p>Inspection Date: {{ p.inspection_date }}</p>
            <p>Photo Collection: TBA</p>
        </li>
        <a href="{{ url_for('property_image', p_id = p.id) }}"><button class='btn btn-outline-light text-dark btn-lg' type='submit'>Add/View Image</button></a>
        <a href="{{ url_for('viewProperty', property_id = p.id) }}"><button class='btn btn-outline-light text-dark btn-lg' type='submit'>View Property</button></a>
        
        <!-- Meant to be actuion date -->
        {% if now_date > p.inspection_date %}
            <a href="{{ url_for('edit_property', p_id = p.id) }}"><button class='btn btn-outline-light text-dark btn-lg' type='submit' disabled>Edit</button></a>
        {% else %}
            <a href="{{ url_for('edit_property', p_id = p.id) }}"><button class='btn btn-outline-light text-dark btn-lg' type='submit'>Edit</button></a>
        {% endif %}
        
        <a href="{{ url_for('change_status', p_id = p.id) }}"><button class='btn btn-primary btn-lg'  type='submit'>Change Status</button></a>
        <a href="{{ url_for('remove_property', p_id = p.id) }}" onclick = "{if (confirm ( 'Are you sure?')) {this. document.formname.submit (); return true;} return false;} "><button class='btn btn-outline-danger btn-lg'  type='submit'>Remove</button></a>
    </ul>
    {% endfor %}
    <a href="{{ url_for('add_property') }}"><button class='btn btn-outline-success btn-lg'>Add a Property</button></a>

</div>



{% endblock %}