{% extends "base.html" %}
{% block content %}
	<div class="content-section">
		<form action="" method= "POST" style="margin-top: 50px;" novalidate>
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Search</legend>
				<div class="form-row">
					<div class="col">
						{{ form.auction_before.label }}<br>
						{% if form.auction_before.errors %}
							{{ form.auction_before(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.auction_before.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.auction_before(class="form-control form-control-lg", placeholder="yyyy-mm-dd hh:mm:ss") }}
						{% endif %}	
					</div>
					<div class="col">
						{{ form.auction_after.label }}<br>
						{% if form.auction_after.errors %}
							{{ form.auction_after(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.auction_after.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.auction_after(class="form-control form-control-lg", placeholder="yyyy-mm-dd hh:mm:ss") }}
						{% endif %}	
					</div>
				</div>
				<div class="form-group mt-2">
					{{ form.street.label }}<br>
					{% if form.street.errors %}
						{{ form.street(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.street.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.street(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-row">
					<div class="col">
					{{ form.suburb.label }}<br>
					{% if form.suburb.errors %}
						{{ form.suburb(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.suburb.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.suburb(class="form-control form-control-lg") }}
					{% endif %}
					</div>
					<div class="col">
					{{ form.state.label }}<br>
					{% if form.state.errors %}
						{{ form.state(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.state.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.state(class="form-control form-control-lg") }}
					{% endif %}
					</div>
					<div class="col">
					{{ form.postcode.label }}<br>
					{% if form.postcode.errors %}
						{{ form.postcode(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.postcode.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.postcode(class="form-control form-control-lg", placeholder="e.g. 2033") }}
					{% endif %}
					</div>
				</div>
				<div class="form-group mt-4 mb-0">
					{{ form.submit(class="btn btn-info btn-lg mr-5" ,style="width:200px") }} 
					{{ form.clear (class="btn btn-warning btn-lg",style="width:200px") }}
				</div>
			</fieldset>
		</form>
	</div>
	<div class="row col-xl-15">
		{% if properties.count() == 0 %}
			<div style="width:100%; text-align: center; margin-bottom: 100px;">
				<h1 class="text-info">No results found.</h1>
			</div>
		{% else %}
			{% for (p,a,b) in properties %}
				<div class="card border-info p-2 col-md-3.8 ml-3 mr-2 mb-3">
					<div class="card-header rounded text-center bg-info text-white" style="font-size: 15px;"> 
						{% if p.status == "auction" %}
							To Be Auctioned
						{% elif p.status == "sold" %}
							Sold
						{% else %}
							Under Offer
						{% endif %}
					</div>
					{% if not p.photo_collection.all() %}
						<img class="card-img-top" src="/static/propertyImage/Sample.jpg" alt="Card image cap" style="width:335.81px; height: 180px;" >
					{% else %}
						<img class="card-img-top" src="/static/propertyImage/{{p.photo_collection.first().photo}}" alt="Card image cap" style="width:335.81px; height: 180px;" >
					{% endif %}
					<h6 class="card-subtitle pt-2 pb-2 text-center bg-warning" style="font-size: 15px;">
                        {% if b:%}
                            Highest Bid: ${{b}}
                        {% else %}
                            No bids
                        {% endif%}
                    </h6>
					<div class="card-body text-info">
						<h4 class="card-title" style="font-size: 20px;">
							{% if p.add_unit %}
								{{p.add_unit}} /
							{% endif %}
							{{p.add_num}} {{p.add_name}}, {{p.add_suburb}} <br> {{p.add_state}}, {{p.add_pc}}, Australia
						</h4>
						<p class="card-text">
							<span><img src="/static/icons/bedicon.png" alt="Card image cap" style="width:40px; height: 40px;"> {{p.num_bedrooms}}</span>
							<span><img src="/static/icons/restroom.png" alt="Card image cap" style="width:30px; height: 30px;"> {{p.num_bathrooms}}</span>
							<span><img src="/static/icons/car.png" alt="Card image cap" style="width:30px; height: 30px;"> {{p.num_parking}}</span>
							<span style="float: right; margin-top: 7px;">{{p.property_type}}</span>
						</p>
						
						<a href={{ url_for("viewProperty", property_id=p.id) }} class="btn btn-info btn-lg" style="width: 100%;">Property Page</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock %}