{% extends "base.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method= "POST" style="margin-top: 50px;" novalidate>
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
				<legend class="border-bottom mb-4">Search</legend>
				
				<div class="form-group">
                    {{ form.auction_before.label }}<br>
                    {% if form.auction_before.errors %}
						{{ form.auction_before(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.auction_before.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.auction_before(class="form-control form-control-lg", placeholder="yyyy-mm-dd hh:mm:ss") }}
					{% endif %}	
                </div>

                <div class="form-group">
                    {{ form.auction_after.label }}<br>
                    {% if form.auction_after.errors %}
						{{ form.auction_after(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.auction_after.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.auction_after(class="form-control form-control-lg", placeholder="yyyy-mm-dd hh:mm:ss") }}
					{% endif %}	
                </div>

                <div class="form-group">
                    {{ form.suburb.label }}<br>
                    {% if form.suburb.errors %}
						{{ form.suburb(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.suburb.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.suburb(class="form-control form-control-lg") }}
					{% endif %}
                </div>

                <div class="form-group">{{ form.submit(class="btn btn-outline-info") }}</div>
            </fieldset>
        </form>
	</div>
	
	<table class="table">
        <tr>
			<th>PropertyID<th>
			<th>Auction Start<th>
			<th>Auction End<th>
			<th>Property Type</th>
			<th>Unit Number</th>
			<th>Street Number</th>
			<th>Street Name</th>
			<th>Suburb</th>
			<th>State</th>
			<th>Postcode</th>
			<th>Number of Bedrooms</th>
			<th>Number of Bathrooms</th>
			<th>Number of Parking</th>
			<th>Parking Features</th>
			<th>link of Property</th>
			<th>seller</th>
		</tr>
		{% for item in properties %}
		<tr>
			<th>{{item.id}}<th>
			<th>{{item.AuctionStart}}<th>
			<th>{{item.AuctionEnd}}<th>
			<th>{{item.property_type}}</th>
			<th>{{item.add_unit}}</th>
			<th>{{item.add_num}}</th>
			<th>{{item.add_name}}</th>
			<th>{{item.add_suburb}}</th>
			<th>{{item.add_state}}</th>
			<th>{{item.pc}}</th>
			<th>{{item.num_bedrooms}}</th>
			<th>{{item.num_bathrooms}}</th>
			<th>{{item.num_parking}}</th>
			<th>{{item.parking_features}}</th>
			<th><a href={{ url_for("viewProperty", property_id=item.id) }}>Property Page</a></th>
			<th>{{item.seller}}</th>
			
		</tr>
		{% endfor %}
	</table>
	
{% endblock %}