{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 80px; text-align: center; size: 20px;">Auction World</h1>
    <form action="" method= "POST" style="margin-top: 50px;" novalidate>
        {{ form.hidden_tag() }}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div style="text-align: center; color: red">
            {% for message in messages %}
            {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="form">
            {{ form.login_name.label }}<br>
            {{ form.login_name(size=32) }}<br>
            {% for error in form.login_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form">
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form">
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form">
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
            {% for error in form.address.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form">
            {{ form.date_of_birth.label }}<br>
            {{ form.date_of_birth(placeholder="dd/mm/yyyy",size=32) }}<br>
            {% for error in form.date_of_birth.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form">
            {{ form.phone_number.label }}<br>
            {{ form.phone_number(size=32) }}<br>
            {% for error in form.phone_number.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>

        <div class="form">{{ form.submit() }}</div>
    </form>
{% endblock %}