{% extends "base.html" %}
{% block content %}
<div class="row">
    {% if current_user.id != seller.id %}
        <div class="col-md-8">
    {% else %}
        <div class="col-md-10">
    {% endif %}
                <div class="card p-2 col-md-3.8 ml-3 mr-2 mb-3">
                    <div class="card-header text-center bg-info text-white"> PROPERTY STATUE (TO BE IMPLEMENTED)</div>
                    {% if not property.photo_collection.all() %}
						<img class="card-img-top" src="/static/propertyImage/4.jpg" alt="Card image cap" >
					{% else %}
						<img class="card-img-top" src="/static/propertyImage/{{property.photo_collection.first().photo}}" alt="Card image cap" >
					{% endif %}
                    <h6 class="card-subtitle pt-2 pb-2 text-center bg-secondary text-white" >CURRENT BID (TO BE IMPLEMENTED)</h6>
                    <div class="card-body text-info">
                        <h4 class="card-title">
                            {% if property.add_unit %}
                                {{property.add_unit}} /
                            {% endif %}
                            {{property.add_num}} {{property.add_name}} {{property.add_suburb}} {{property.add_state}} {{property.pc}}, Australia
                        </h4>
                        <h4 class="card-title">{{property.property_type}} Features </h4>
                        <p class="card-text">
							<span><img src="/static/propertyImage/bedicon.png" alt="Card image cap" style="width:40px; height: 40px;"> {{property.num_bedrooms}}</span>
							<span><img src="/static/propertyImage/restroom.png" alt="Card image cap" style="width:30px; height: 30px;"> {{property.num_bedrooms}}</span>
                            <span><img src="/static/propertyImage/car.png" alt="Card image cap" style="width:30px; height: 30px;"> {{property.num_parking}}</span> <br>
                            <span>Parking Features: {{property.parking_features}}</span>
						</p>
                        {% if auction.AuctionStart and auction.AuctionEnd %}
                            <p class="text-dark bg-warning rounded pl-4 pr-4 mr-2 mb-0" style="float: left;"> Auction start: {{auction.AuctionStart}} </p>
                            <p style="float: left; color: black;" class="mb-0">--</p>
                            <p class="text-dark bg-warning rounded pl-4 pr-4 ml-2 mb-0" style="float: left;"> Auction End: {{auction.AuctionEnd}} </p> <br><br>
                        {% endif %}
                        <h4 class="card-title"> Desciption </h4>
                        <p class="card-text">{{property.description}}</p>
                    </div>
                </div>
    </div>
    {% if current_user.id != seller.id %}
        <div class="col-md-4">
            <div class="content-section">
                <h4>For more information</h4>
                <p class='text-muted'>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Email: comp3900@minamamoto.cloud</li>
                    <li class="list-group-item list-group-item-light">PhoneNumber: +61421234567</li>
                </ul>
                </p>
            </div>
            
            <form action="/search">
                <button class ="btn btn-outline-info btn-lg" style="width: 100%;" type="submit" >Join in as a bidder</button>
            </form>
        </div>
    {% endif %}
</div>


{% endblock %}